@{
    ViewBag.Title = "About";
}
<h2>&nbsp;About.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Meet Quality Singles Near You
    You probably know what kind of people you're looking for, but finding each other feels like trying to find a needle in a haystack. We partner with local professional dating services that specialize in bringing quality singles together, so you can stop looking for love and start enjoying it. .
</p>

<p>
    Date Without the Games
    One of the biggest challenges for many singles today is not knowing who's looking for a serious relationship and who's not. Local matchmaking offices give you a level of reassurance that each client you meet is local, committed to finding an enduring relationship, and has passed an in-person screening process and criminal background check.
</p>

<p>
    We Do All The Work and You Have All The Fun
    Once our search process is complete, your personal Matchmaker will hand select introductions that most closely match your requests. Your Matchmaker is also available to give you valuable support throughout your journey. When you find the right person for you, simply let them know and they'll stop matching you so you can get back to having the time of your lives together!
</p>

<p>
    Getting Started Is Easy
    Take the first step by clicking the orange button and filling out your 90-second profile. There's no obligation to join, so you have nothing to lose - except the opportunity to meet someone special that could change your life forever.
<p><a href="http://localhost:62738/Account/Register" class="btn btn-primary btn-lg">Lets Get Started &raquo;</a></p>
<p>
