@{
    ViewBag.Title = "Dimond Dating ";
}

<div class="jumbotron">
    <h1>Welcome to Dimond Dating</h1>
    <p class="lead">A free dating site that allows you to connect with your match.</p>
    <p><a href="http://localhost:58554/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <p><a href="http://localhost:58554/Account/Login" class="btn btn-primary btn-lg">Log In»</a></p>
</div>

